.contenido{
    position: relative;
    width: 96vw;
    height:  100vh;
    background-size: 500%;
    background-image: linear-gradient(130deg,rgb(212, 223, 230),rgb(62, 119, 158),rgb(108, 124, 134), rgb(65, 69, 77));
    animation: animaciones 10s infinite;
    animation-timing-function: cubic-bezier(0.53, 0.03, 0.2, 1);
}

/*diseño responsivo para celular*/
@media (min-width:200px){

    .encabezado{
        position: absolute;
        width: 100%;
        height:14%;
    }
    
    .logo{
        position: absolute;
        top: 36%;
        left: 1%;
    }
       
    main{
        position: absolute;
        top: 14%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .usuario{
        position: absolute;
        width: 100%;
        height: 95%;
    }
    
    .mensajeEntrada{
        background-color: rgb(216, 220, 223);
        position: absolute;
        top: 1%;
        left: 2%;
        width: 96%;
        height: 70%;
        border: none;
        resize: none;
        font-family: "Inter";
        font-style: italic;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: blue;
    }
    
    .mensajeEntrada:focus, .mensajeEntrada:active {
        border: none;
        outline: none;
    }
    
    .instruccion{
        position: absolute;
        top: 74%;
        left: 2%;
    }
    
    .botonesUsu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:77%;
        left: 2%;
        width: 96%;
        height: 22%;
        gap: 4%;
        align-items: center;
    }
    
    .btnEncrip, .btnDesencrip{
        background-color:rgb(149, 182, 202);
        padding: 4%;
        width: 48%;
        border-radius: 24px;
        border-color: lightgray;
        justify-content: center;
        cursor: pointer;
        font-family: "Inter";
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        align-items: center;
        transition: all 0.6s ease; 
    }

    .btnEncrip:hover , .btnDesencrip:hover, .btnCopiar:hover{
        background-color:rgb(209, 168, 151);
        border-color: aliceblue;
        box-shadow: 0 0 10px black;
        font-family: "Inter";
        color: aliceblue;
        
    }
    
    /*Area Respuesta*/
        
    .respuesta{
        background-color: rgb(216, 220, 223);
        position: absolute;
        top: 100%;
        left: 2%;
        width: 96%;
        height: 60% ;
        text-align: center;
        border-radius: 32px;
    }
    
    .mensajeSalida{
        background-color: rgb(216, 220, 223);
        position: absolute;
        top: 10%;
        left: 2%;
        width: 96%;
        height: 65%;
        border: none;
        resize: none;
        font-family: "Inter";
        font-style: italic;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
    }
    
    .mensajeSalida:focus, .mensajeSalida:active{
        border: none;
        outline: none;
    }
    
    .munheco {
        display: none;
    }
    
    .textosPanel{
        position: absolute;
        top: 10%;
        left: 25%;
        width: 50%;
    }
    
    .textosPanel h2{
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: rgb(44, 44, 44);
    }
    
    .textosPanel p{
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: rgb(102, 107, 107);   
    }
    
    .botonAtajo{
        display: flex;
        position: absolute;
        top: 77%;
        left:0%;
        width: 100%;
        height: 22%;
        align-items: center;
    }
    
    .btnCopiar{
        background-color:lightgray;
        position: absolute;
        left: 26%;
        padding: 4%;
        width: 48%;
        height: 85%;
        border-radius: 24px;
        border-color:lightslategray;
        justify-content: center;
        cursor: pointer;
        font-family: "Inter";
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        align-items: center;
        transition: all 0.6s ease;
    }
}

/*diseño responsivo para pc*/

@media (min-width:720px){

    .logo{
        position: absolute;
        top: 36%;
        left: 10%;
    }
    
    main{
        position: absolute;
        height: 86%;
        display: flex;
        flex-direction: column;
    }
    
    .usuario{
        position: absolute;
        width: 60%;
        height: 100%;
    }
    
    .mensajeEntrada{
        position: absolute;
        left: 20%;
        width: 70%;
    }
    
    .instruccion{
        position: absolute;
        top: 75%;
        left: 20%;
    }
    
    .botonesUsu{
        display: flex;
        flex-direction: row;
        position: absolute;
        top:80%;
        left: 20%;
        width: 70%;
        height: 15%;
        align-items: center;
    }
    
    .btnEncrip, .btnDesencrip{
        font-family: "Inter";
        font-size: 17px;
        align-items: center;
    }
    
    /*Area Respuesta*/
    
    .respuesta{
        position: absolute;
        top: -10%;
        left: 60%;
        width: 30%;
        height: 107% ;
    }
    
    .mensajeSalida{
        position: absolute;
        left: 10%;
        width: 78%;
    }
    
    .munheco {
        position: absolute;
        top: 25%;
        left: 10.75%;
        width: 78%;
        display: block;
    }
        
    .botonAtajo{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 84%;
        left: 0%;
        width: 100%;
        height: 14%;
        align-items: center;
    }

    .btnCopiar{
        position: absolute;
        left: 15%;
        width: 70%;
        font-family: "Inter";
        font-size: 17px;
        align-items: center;
    }
}

/*Animacion*/

@keyframes animaciones{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0%-50%;
    }
}